@using BOL;
@{
    ViewData["Title"] = "Index Page";
}

<div class="text-center">
<h1>Vehicle Information</h1>

@{

List<Vehicle> VehicleList = (List<Vehicle>)ViewData["vehicles"];
<ol>
@foreach (Vehicle vehicle in VehicleList)
{
    <li> <a href="/Vehicle/Details/@vehicle.VehicleId">@vehicle.VehicleName </a></li>
}
</ol>
}
</div>
