@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
<h2>Login Forms</h2>

<form action="Validate">
  <label for="uname">User name:</label><br>
  <input type="text" id="uname" name="uname" placeholder="Enter mail id"><br>
  <label for="pass">Password:</label><br>
  <input type="password" id="pass" name="pass" placeholder="Enter password"><br><br>
  <input type="submit" value="Submit">
</form>
</div>
